
.sol-pres {
  &-wr {
    min-height: 100vh;
    position: relative;
    color: #ffffff;
    overflow: hidden;
    background: radial-gradient(46.89% 50.49% at 52.78% 0%, #2A2E45 0%, #191C2C 100%), radial-gradient(28.19% 72.18% at 100% 0%, #2E334A 0%, #191C2C 100%), #191C2C;

    .title{
      &-x {
        font-weight: bold;
        font-size: 50px;
        line-height: 80px;
        position: relative;
        z-index: 3;
        margin-bottom: 30px;
      }

      &-m {
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 30px;
      }

      &-icon {
        position: relative;
        top: 16px;
        margin-left: 15px;
      }
    }

    p {
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;

      + p {
        margin-top: 40px;
      }
    }

    h1, h2, h3, h4, h5, h6, p, span {
      padding: 0;
      margin: 0;
    }

    .sol-pres-list-title {
      margin: 30px 0;
    }

    p {
      a {
        color: #ffffff;
        text-decoration: underline;

        &:hover {
          color: #c747e3;
          text-decoration: none;
        }
      }
    }
  }

  &-content {
    position: relative;
    z-index: 3;
    padding: 44px 90px;
  }

  &-logo-block {
    margin-bottom: 12vh;
    position: relative;
    z-index: 2;
  }

  &-schedule {
    margin-top: 30px;

    img {
      width: 100%;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sol-pres-info {
      width: 100%;
      max-width: 55%;
    }

    .sol-pres-img {
      width: 100%;
      max-width: 45%;

      img {
        width: 100%;
        position: relative;
        right: -90px;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.overflow-h {
  overflow: hidden;
}

.bold {
  font-weight: 900 !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}
