
.sol-pres-wr {
  min-height: 100vh;
  position: relative;

  background: radial-gradient(46.89% 50.49% at 52.78% 0%, #2A2E45 0%, #191C2C 100%), radial-gradient(28.19% 72.18% at 100% 0%, #2E334A 0%, #191C2C 100%), #191C2C;
}

.text-center {
  text-align: center;
}

.logo-block {
  margin-bottom: 12vh;
  position: relative;
  z-index: 2;
}

.overflow-h {
  overflow: hidden;
}

