.menu-markup {
  background: #353A51;
  flex: 1 0 auto;
  max-width: 44px;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;

  &-list {
    flex: 1;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    &:first-child {
      margin-top: 10px;
    }
    + li {
      margin-top: 1rem;
    }
  }

  .btn {
    width: 24px;
    height: 24px;
    margin: auto;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: .17s all;
    color: #CCDDEE;
    position: relative;

    svg {
      transition: .17s all;
    }

    &::after {
      content: attr(title);
      position: absolute;
      left: calc(100% + 8px);
      padding: 2px 4px;
      border-radius: 3px;
      color: #CCDDEE;
      background-color: #000;
      line-height: 1.17;
      font-size: 12px;
      visibility: hidden;
      opacity: 0;
      transition: .17s all;
      transform: translateX(-50%);
    }

    &::before {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      padding-left: 3px;
      width: 0;
      height: 0;
      transform: translateY(-50%);
      border-right: solid 5px #000000;
      border-bottom: solid 5px transparent;
      border-top: solid 5px transparent;
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      background-color: transparent;

      svg {
        transform: rotate(5deg) scale(1.1);
      }

      &::after {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      &::before {
        opacity: 1;
        visibility: visible;
      }

    }

    div {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.btn-menu-markup {
}
