.wallet-select_item {
    display: flex;
    align-items: center;
    background: #e3e3e3;
    margin-bottom: 8px;
}

.wallet-select_item:hover {
    cursor: pointer;
    background: #d4d4d4;
}


.wallet-select_item-title {
    margin-left: 8px;
}